@keyframes gradientAnimation 
{
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.body-container
{
  background: linear-gradient(
    45deg, 
    var(--lighter-color), 
    var(--secondary-color), 
    var(--light-color));
  background-size: 300% 300%;
  animation: gradientAnimation 5s ease infinite;
  min-height: 100vh;
  padding: 20px 40px;
}

.body-hero 
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

.body-separator
{
  border: none;
  border-top: 4px solid var(--grey-color);
}