.container
{
  background-image: url('../resource/arabic-blue-bg.png');
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
}

.header-nav
{
  display: flex;
  justify-content: center;
  gap: 14px;
}

.header-logo
{
  height: 60px;
}